.li-meal-category {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  align-items: center;

  .meal-category {
    width: 100%;
    cursor: pointer;
    position: relative;
    border: 5px solid #92DAFF;
    border-radius: 30px 0px;

    img {
      width: 100%;
      border-radius: 26px 0px;
    }
    
    .meal-category-info {
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: absolute;
      bottom: 0;
      background: rgb(0 0 0 / 40%);
      color: #FFFFFF;
      padding: 5px;
      border-radius: 0px 0px 26px 0px;
      
      .meal-category-title {
        text-overflow: ellipsis;
        white-space: nowrap;

        .meal-category-description {
          white-space: nowrap;
        }
      }
    }
  }
}